@model IEnumerable<CrudGabrielDelgado.Models.Cliente>

@{
    ViewData["Title"] = "Registro de clientes";
}

<h1>Registro de clientes</h1>

<p>
    <a asp-action="Create">Adicionar novo cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emailcli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.IdCli)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emailcli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCli">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdCli">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCli">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
